body {
  background: url("../images/noisy_net.png");
}

li {
  list-style-type: none;
}

#masthead {
  background-color: #000;
  margin-top: -60px;
  width: 100%;
}

#header {
  height: 100%;
  width: 100%;
  position: relative;
}

#header img {
  width: 100%;
}

#masthead h1 {
  margin: 60px 0 0 140px;
}

#masthead h4 {
  margin: 0 0 -50px 140px;
}

#hold {
  height: 100%;
}

#logo-img {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 99;
  height: 120px;
  width: 120px;
}

.navbar-collapse {
  text-align: right;
}

    
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

    