/*

Author:          Lisa Balogh
Revision Date:   May 7, 2014
File Name:       styles.css
Description:     Provides global syle rules, bootstrap style modifications,
                 and responsive design modifications

*/

html, body {
  height: 100%;
  background: url("../images/noisy_net.png");
}

li {
  list-style-type: none;
}

#logo-img {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 99;
  height: 120px;
  width: 120px;
}

#welcome {
  padding-left: 130px;
}

p.navbar-text {
  color: #5bc0de !important;
}

.navbar-collapse {
  text-align: right;
}

#masthead {
  background-color: #000;
  margin-top: -60px;
  width: 100%;
}

#masthead h1 {
  margin: 60px 0 0 150px;
}

#masthead h4 {
  margin: 0 0 -50px 150px;
}

#header {
  height: 100%;
  width: 100%;
  position: relative;
}

#header img {
  width: 100%;
}

#carousel-home img {
  width: 100%;
}

#carousel-home h1 {
  text-shadow: 0px 0px 2px #3A3F44;
}

.row {
  margin-bottom: 15px;
}

.footer {
  text-align: center;
  padding: 20px 0 15px;
}

#push, #footer {
  height: 60px;
}

@media only screen and ( max-width: 479px ) {

  #logo-img {
    height: 90px;
    width: 90px;
  }

  #welcome {
    padding-left: 110px;
  }

  #masthead {
    margin-top: -80px;
    padding-top: 30px;
    padding-bottom: 30px;
  }  

  #masthead h1 {
    margin: 80px 0 0 15px;
  }

  #masthead h4 {
    margin: 0 0 -50px 15px;
  }

  #carousel-home h1 {
    font-size: 20px;
    font-weight: normal;
  }

  #carousel-home ol {
    display: none;
  }

  #carousel-home p {
    margin-bottom: -20px;
  }

  .carousel-caption .btn {
    width: 160px;
  }
}

@media only screen and ( max-width: 270px ) {
  #carousel-home p {
    margin-bottom: -35px;
    margin-left: -15%;
  }
}